*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
body{
 background-color: black;
   background-size: cover;
   background-position: center;
    background-repeat: no-repeat;

 
}
.logo{
    margin-top: 70px;
    padding: auto;
width: 370px;
background-size: cover;
background-position: center;
position: relative;
 background-repeat: no-repeat;


}
.links{
   
transition: none;
margin-top:25% ;
margin-bottom:0% ;
padding: 3px;
text-align: center;
 
}
.facebook{
   color: #fff;
    font-size: 20px;
    margin-left: 0px;
}
.facebook:hover{
    color: #1f32a0;
    font-size: 30px;
    text-decoration: none;
    margin-left: 0px;
}


